.techTag {
  display: inline-flex;
  align-items: center;
  gap: 0.8rem;
  // background-color: #f0f0f0;
  // border-radius: 999px;
  // padding: .8rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--color-text-primary);
  transition: background-color 0.2s ease;

  // &:hover {
  //   background-color: var(--color-highlight);
  //   color: #fff;
  // }
}
