$base-font-size: 1.6rem;
$base-line-height: 1.4;
$font-style: normal;
$font-size: 1.6rem;
$regular: 400;
$med: 500;
$semi-bold: 600;
$bold: 800;

$open-sans: var(--font-open-sans);
$bitter: var(--font-bitter);
$montserrat: var(--font-montserrat);
$inter: var(--font-inter);
$nunito: var(--font-nunito);

$base-font-family: $nunito;
$heading-font-family: $montserrat;

// Utility color variables
$heading-color: var(--color-accent);
$base-font-color: var(--color-text-primary);
$link: var(--color-secondary);
$link-hover: var(--color-secondary);

$spacing-half: 4px;
$spacing1: 8px;
$spacing1-half: 12px;
$spacing2: 16px;
$spacing3: 24px;
$spacing4: 32px;
$spacing5: 40px;
$spacing6: 48px;
$spacing7: 56px;
$spacing8: 64px;
$spacing9: 72px;
$spacing10: 80px;
$spacing11: 88px;
$spacing12: 96px;
$spacing13: 104px;
$spacing14: 112px;
$spacing15: 120px;
$spacing16: 128px;
$spacing17: 136px;
$spacing18: 144px;
$spacing19: 152px;
$spacing20: 160px;

$layout-xs: $spacing5;
$layout-sm: $spacing6;
$layout-md: $spacing8;
$layout-lg: $spacing15;
$layout-xl: $spacing18;
$layout-2xl: $spacing20;

$spacing-none: 0;
$spacing-2xs: $spacing1; // 8px
$spacing-xs: $spacing1-half; // 12px
$spacing-sm: $spacing2; // 16px
$spacing-md: $spacing3; // 64px
$spacing-lg: $spacing4; // 32px
$spacing-xl: $spacing5; // 40px
$spacing-2xl: $spacing6; // 48px

$layouts: (
  'xs': $layout-xs,
  "sm": $layout-sm,
  "md": $layout-md,
  "lg": $layout-lg,
  "xl": $layout-xl,
  "2xl": $layout-2xl,
);

$spacings: (
  "none": 0,
  "2xs": $spacing-2xs,
  "xs": $spacing-xs,
  "sm": $spacing-sm,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
  "2xl": $spacing-2xl,
);

// Clamp sizes determined from https://www.marcbacon.com/tools/clamp-calculator/ ** see note below
// viewport range 480px ($breakpoint-sm) to 1440px ($breakpoint-lg)
// ** base 10px due to html font-size 62.5% trick **

$heading-sizes: (
  'xl':  (font-size: clamp(3.8rem, 2.35rem + 3.021vw, 6.7rem),  margin: 0 0 $spacing-2xs),  // h1
  'l':   (font-size: clamp(3rem, 2.6rem + 0.833vw, 3.8rem),     margin: 0 0 $spacing-sm),   // h2
  'm':   (font-size: clamp(2.4rem, 2.1rem + 0.625vw, 3rem),     margin: 0 0 $spacing-sm),   // h3
  's':   (font-size: clamp(2rem, 1.8rem + 0.417vw, 2.4rem),     margin: 0 0 $spacing-sm),   // h4
  'xs':  (font-size: clamp(1.8rem, 1.7rem + 0.208vw, 2rem),     margin: 0 0 $spacing-2xs),   // h5
  'xxs': (font-size: clamp(1.6rem, 1.5rem + 0.208vw, 1.8rem),   margin: 0 0 $spacing-2xs),   // h6
);

$display-sizes: (
  'l':  (font-size: clamp(8rem, 6rem + 4.167vw, 12rem),         margin: 0 0 $spacing-2xs),
  's':  (font-size: clamp(6.7rem, 6.05rem + 1.354vw, 8rem),     margin: 0 0 $spacing-2xs),
);

$body-designs: (
  "body-paragraph": (
    font-size: clamp(1.6rem, 1.5rem + 0.208vw, 1.8rem), 
    font-family: $base-font-family, 
    line-height: 1.6, 
    font-weight: $regular
    ),
  "body-paragraph-bold": (
    font-size: clamp(1.6rem, 1.5rem + 0.208vw, 1.8rem), 
    font-family: $base-font-family, 
    line-height: 1.6, 
    font-weight: $bold
    )
);

// Breakpoints 
$x-small:    'screen and (min-width: 375px)';
$small:      'screen and (min-width: 576px)';
$small-ish:  'screen and (min-width: 680px)';
$medium:     'screen and (min-width: 768px)';
$tablet:     'screen and (min-width: 834px)';
$medium-ish: 'screen and (min-width: 960px)';
$large:      'screen and (min-width: 1024px)';
$larger:     'screen and (min-width: 1080px)';
$large-ish:  'screen and (min-width: 1150px)';
$desktop:    'screen and (min-width: 1280px)';
$xx-large:   'screen and (min-width: 1400px)';
$xxx-large:  'screen and (min-width: 1650px)';
$xxx-largest:'screen and (min-width: 1920px)';
$mobile-nav: 'screen and (max-width: 1023px)';

$chevron-right: '<svg aria-hidden="true" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10 fa-3x"><path fill="#FFFFFF" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path></svg>';
$arrow-right: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.48 15.61"><path d="M14.44,7.82,6.7.08,4.9,1.88,9.47,6.46H.07V9.07L9.63,9,4.89,13.72,6.7,15.56Z" fill="#FFFFFF"/></svg>';
$down-arrow: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.4 3.41"><title>down-arrow-wht</title><path d="M5.12.41,2.78,2.75.43.4" transform="translate(-0.08 -0.05)" fill="none" stroke="#fff"/></svg>';
$up-arrow: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.4 3.41"><title>up-arrow-wht</title><path d="M.43,3.09,2.78.75,5.12,3.09" transform="translate(-0.08 -0.04)" fill="none" stroke="#fff"/></svg>';
$single-arrow: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.278 14.846"><path data-name="Path 1692" d="M0 1.856L1.918 0l7.361 7.423-7.361 7.423L0 12.99l5.567-5.567z" fill="#FFFFFF"/></svg>';
$magnifier: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.44 12.54"><path d="M12.44,10.9,9.12,7.58A4.94,4.94,0,1,0,7.47,9.19l3.34,3.34Zm-10.6-6A3.1,3.1,0,1,1,4.94,8h0A3.1,3.1,0,0,1,1.84,4.94Z" transform="translate(0.01 0.01)" fill="#FFFFFF"/></svg>';
$burger: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38.9 15.74"><path d="M38.9 1H0m38.9 6.89H0m38.9 6.85H0" fill="#fff" stroke="#fff" stroke-width="2"/></svg>';