@import 'functions';

@mixin center-me($max-width, $margin-top: 0, $margin-bottom: 0) {
  max-width: $max-width;
  margin: $margin-top auto $margin-bottom;
}

@mixin svg-colorized($svg, $color: $black) {
  $svg-colorized: svg-color($svg, $color);

  background-image: $svg-colorized;
}

@mixin button($bg-color: var(--color-primary), $color: white, $hover-bg: var(--color-secondary), $hover-color: white, $svg-color: white, $svg-hover: white) {
  background-color: $bg-color;
  position: relative;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: $color;
  border-radius: .8rem;
  margin-top: 1rem;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  transition: all 0.5s;

  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    opacity: 0;  
    right: -2rem;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-position: center center;
    width: 1.1rem;
    aspect-ratio: 1;

    @if ($svg-color) {
      @include svg-colorized($arrow-right, $svg-color);
    }

    @else {
      @include svg-colorized($arrow-right, $color);
    }
  }

  &:hover {
    background-color: $hover-bg;
    color: $hover-color;
    padding-right: 2.4rem;
    padding-left: .8rem;

    &::after {
      opacity: 1;
      right: .75rem;

      @if ($svg-hover) {
        @include svg-colorized($arrow-right, #{$svg-hover});
      }

      @else {
        @include svg-colorized($arrow-right, $hover);
      }
    }
  }
}

@mixin simple-button() {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.25;
  width: 15rem;
  display: block;
  color: var(--color-secondary);
  border-radius: 5rem;
  padding: 1rem;
  background: var(--color-bg);
  border: none;
  font-weight: bold;
  margin: 0 auto;

  &:hover {
    cursor: pointer;
    background: var(--color-accent);

  }
}

@mixin animate-link-hover($lineColor: var(--color-secondary), $direction: center) {
  position: relative;

  &:hover {
    &:before {
      transform: scaleX(1);
    }
  }

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: .15rem;
    bottom: -.2rem;
    left: 0;
    background-color: $lineColor;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: top $direction;
  } 
}

// HEADINGS
@mixin h1 {
  font-size: $h1-size-small;
  line-height: $h1-line-height-small;
  padding: $h1-padding;
  color: $h1-color;
  font-family: $h1-family;
  font-weight: $h1-weight;
  text-transform: uppercase;
  letter-spacing: 1.65px;

  @media #{$tablet} {
    font-size: $h1-size;
    line-height: $h1-line-height;
    letter-spacing: 1.87px;
  }
}

@mixin h2 {
  font-size: $h2-size-small;
  line-height: $h2-line-height-small;
  padding: $h2-padding;
  color: $h2-color;
  font-weight: $h2-weight;
  font-family: $h2-family;
  text-transform: uppercase;
  letter-spacing: 2.08px;

  @media #{$tablet} {
    font-size: $h2-size;
    line-height: $h2-line-height;
    letter-spacing: 2.9px;
  }
}

@mixin lead-in {
  color: var(--marine);
  font-size: 2.2rem;
  line-height: calc(36 / 22);
  padding: 2rem 0 1.5rem;
  text-transform: none;
  font-weight: 600;
  letter-spacing: 0;

  @media #{$tablet} {
    font-size: 2.2rem;
    line-height: calc(36 / 22);
  }
}

@mixin h3 {
  font-size: $h3-size-small;
  line-height: $h3-line-height-small;
  padding: $h3-padding;
  color: $h3-color;
  font-weight: $h3-weight;
  font-family: $h3-family;
  text-transform: uppercase;
  letter-spacing: 1.76px;

  @media #{$tablet} {
    font-size: $h3-size;
    line-height: $h3-line-height;
    letter-spacing: 2.4px;
  }
}

@mixin h4 {
  font-size: $h4-size-small;
  line-height: $h4-line-height-small;
  padding: $h4-padding;
  color: $h4-color;
  font-weight: $h4-weight;
  font-family: $h4-family;

  @media #{$tablet} {
    font-size: $h4-size;
    line-height: $h4-line-height;
  }
}

@mixin h5 {
  font-size: $h5-size-small;
  line-height: $h5-line-height-small;
  padding: $h5-padding;
  color: $h5-color;
  font-weight: $h5-weight;
  font-family: $h5-family;

  @media #{$tablet} {
    font-size: $h5-size;
    line-height: $h5-line-height;
  }
}

@mixin h6 {
  font-size: $h6-size-small;
  line-height: $h6-line-height-small;
  padding: $h6-padding;
  color: $h6-color;
  font-weight: $h6-weight;
  font-family: $h6-family;
  text-transform: uppercase;

  @media #{$tablet} {
    font-size: $h6-size;
    line-height: $h6-line-height;
  }
}