@import 'config';
@import 'mixins';

.about {
  padding: 3rem;

  h2 {
    text-transform: uppercase;
    text-align: center;
  }
}

.about_content {
}

.image_wrapper {
  position: relative;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}