@import 'config';
@import 'mixins';

.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: var(--color-secondary);
  color: var(--color-bg);
  padding: 3rem 0;

  @media #{$small} {
    grid-template-columns: 1fr 1fr;
  }
}

.footer_sitemap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-items: center;
  padding: 0 0 4rem;

  @media #{$small} {
    padding: 0 0 1rem;
  }
}

.copyright {
  grid-column: 1 / -1;
  text-align: center;
  margin: 2rem 0 1rem;
}