@import 'config';
@import 'mixins';

.hero {
  position: relative;
}

.image_wrapper {
  position: relative;
  height: 40rem;
  mask-image: linear-gradient(to bottom, transparent 5%, black 75%);

  @media #{$tablet} {
    height: 50rem;
  }

  @media #{$desktop} {
    height: 55rem;
  }
}

.image {
  position: relative;
  object-fit: cover;
}

.hero_title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  width: fit-content;
  margin: 0 auto;
}