@import 'config';
@import 'mixins';

.hero {
  position: relative;
  top: -5.7rem;
  margin-bottom: -5.7rem;
}

.image_wrapper {
  position: relative;
  height: 40rem;
  mask-image: linear-gradient(to bottom, transparent 5%, black 75%);

  @media #{$tablet} {
    height: 50rem;
  }

  @media #{$desktop} {
    height: 55rem;
  }
}

.image {
  position: relative;
  object-fit: cover;
}

.hero_title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: auto;
  max-width: 50%;
  text-align: center;
  right: 0;
  width: fit-content;
  margin: 5rem auto;
}