@import 'config';
@import 'mixins';

.home {
  @include center-me(96rem);
  position: relative;
  padding: 0 1.5rem;
}

.home_content {
  position: relative;
  display: grid;
  grid-template-areas:
  "web"
  "image"
  "music";

  @media #{$small-ish} {
    grid-template-columns: 0 100% 0;
    grid-template-areas: "web image music"
  }
}

.home_header {
  text-align: center;
}

.image_wrapper {
  display: grid;
  grid-area: image;
  height: 100%;
  text-align: center;

  img {
    mask-image: linear-gradient(to top, transparent 5%, var(--color-bg) 25%);
  }
}

.details_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);
  text-align: center;
  z-index: 1;
  padding: 2rem 0;

  @media #{$small-ish} {
    position: absolute;
    width: 30vw;
    padding: 0;
  }

  @media #{$medium-ish} {
    width: 30rem;
    top: 3%;
  }

  a {
    @include button;
  }

  &.music {
    grid-area: music;

    @media #{$small-ish} {
      right: 2rem;
    }

    @media #{$tablet} {
      right: 3vw;
    }

    @media #{$medium-ish} {
      right: 0;
    }
  }

  &.web {
    grid-area: web;

    @media #{$small-ish} {
      left: 2rem;
    }

    @media #{$tablet} {
      left: 3vw;
    }

    @media #{$medium-ish} {
      left: 0;
    }
  }
}