@import 'config';
@import 'mixins';

.home {
  position: relative;
  display: grid;
  grid-template-areas:
  "image"
  "web"
  "music";

  // @media #{$small} {
  //   grid-template-areas:
  //       "image image"
  //       "web music";
  // }

  @media #{$small-ish} {
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: 0 100% 0;
    grid-template-areas: "web image music"
  }
}

.header {
  text-align: center;
}

.image_wrapper {
  display: grid;
  grid-area: image;
  height: 100%;
  text-align: center;
}

.details_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-montserrat);

  @media #{$small-ish} {
    position: absolute;
    width: 30vw;
  }

  @media #{$large} {
    top: 5%;
  }

  a {
    @include button;
  }

  &.music {
    grid-area: music;

    @media #{$small-ish} {
      right: 2rem;
    }

    @media #{$tablet} {
      right: 3vw;
    }
  }

  &.web {
    grid-area: web;

    @media #{$small-ish} {
      left: 2rem;
    }

    @media #{$tablet} {
      left: 3vw;
    }
  }
}