@import 'config';
@import 'mixins';

.text_wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  max-width: 90rem;
  margin: 0 auto;

  > p {
    margin: 0;
  }
}