@import 'config';
@import 'mixins';

.components {
  @include center-me(144rem);
  padding-inline: 1.6rem;
  margin-top: 2.4rem;

  @media #{$tablet} {
    padding-inline: 2.4rem;
  }

  @media #{$desktop} {
    padding-inline: 3.2rem;
  }
}

.featuredGrid {
  position: relative;
}

.link {
  @include simple-button;
  width: fit-content;
}
