@import 'config';
@import 'mixins';

.nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: center;

  > li {
    list-style: none;
    text-transform: lowercase;
  }
}