@import 'config';
@import 'mixins';

.nav {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.navbar {
  display: flex;
  gap: 1rem;
  justify-content: center;

  > li {
    list-style: none;
    text-transform: lowercase;

    > a {
      opacity: .6;
      transition: all .3s ease;
      @include animate-link-hover;

      &:hover {
        opacity: 1;
      }
    }
  }
}