@use '../../../styles/config' as *;
@use '../../../styles/mixins' as *;

.about {
  padding: 3rem;

  h2 {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-accent);
  }

  p {
    text-wrap: balance;
  }
}

.about_content {
  text-align: center;
  display: grid;
  gap: 1rem 10rem;
  grid-template-areas:
    "intro"
    "dev"
    "music";

  a {
    font-weight: 700;
    @include animate-link-hover(var(--color-accent), left);
  }
}

.about_intro {
  grid-area: intro;
}

.about_dev {
  grid-area: dev;
}

.about_music {
  grid-area: music;
}

.image_wrapper {
  position: relative;

  img {
    border-radius: 50%;
    object-fit: cover;
  }
}
