@import '@styles/config';
@import '@styles/mixins';

.card {
  padding: 2rem;
  border-radius: 2.5rem;
  box-shadow: 5px 5px 10px #ccc;
  margin: 0 2rem;
  background: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;

  img {
    border-radius: 50%;
  }

  p {
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
  }
}

.title {
  text-align: center;
  padding: 1rem 0 0;
  color: var(--color-text-primary);
}

.role {
  margin-left: auto;
  width: fit-content;
  font-size: 1.4rem;
  opacity: .6;
  text-align: right;
}

.dates_wrapper {
  font-size: 1.6rem;
  text-align: center;
}

.details_wrapper {
  opacity: 0;
  max-height: 0;
  font-size: 1.4rem;
  transition: max-height .3s ease, opacity .2s ease;
}

.button_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
  margin: 2rem 1rem 1rem;
}

.button {
  @include simple-button;
}

.show {
  opacity: 1;
  max-height: 70rem;
  transition: all .3s ease;
}

.detail_section {
  margin-bottom: 2rem;

  > p:first-child {
    font-size: 1.8rem;
    border-bottom: 1px solid var(--color-accent);
    margin: 0 auto;
  }
}
